.label:not(:last-child) {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.input, .textarea {
  transition: all 200ms ease;
  box-shadow: none;
  border-width: 2px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 12px;
}
  